.aboutUsContainer{
    height: 100%;
    background: #050609;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.aboutUsContainer p{
    text-align: center;
}
.ninjaFamily{
    width: 400px;
    height: auto;
}
.aboutUsClientsLink{
    color: #c1292e;
    text-decoration: none;
    font-size: 1.2rem;
}
.aboutUsClientsLink:hover {
    color: #C2C5BB;
}


/* Responsive */
@media screen and (max-width: 850px){
    .aboutUsContainer h1{
        font-size: 3.0rem;
    }
    .aboutUsContainer p {
        font-size: 1.3rem;
        margin-bottom: 0.2rem;
    }
    .ninjaFamily {
            transform: scale(1.5);
    }
}
@media screen and (min-height: 1000px){

    .aboutUsContainer h1{
        margin-top: 1rem;
    }
    .aboutUsContainer p {
        font-size: 1.0rem;
        margin-bottom: 0.2rem;
    }
    .ninjaFamily {
        transform: scale(0.8);
    }
}
@media screen and (max-height: 450px) {
    .aboutUsContainer {
        justify-content: flex-start;
        overflow-y: scroll;
    }
    .ninjaFamily {
        transform: scale(0.8);
    }
    .aboutUsContainer h1{
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    .aboutUsContainer p {
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
    }
    .aboutUsClientsLink {
        font-size: 1rem;
    }
}